<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>matplot</title>
  </head>
  <h1 style="text-align: center;"><strong><span style="color: #ff0000;">CASOS DIARIOS DE COVID-19 EN YUCAT&Aacute;N</span></strong></h1>
<h2>Basado en los comunicados de prensa publicados por la secretar&iacute;a de salud de Yucat&aacute;n</h2>
<h3><span style="color: #0000ff;">&Uacute;ltima actualizaci&oacute;n:</span> 19 de Julio 2020</h3>
  <body>
    <img src="data:image/png;base64,{{ data }}" alt="" height="550" ,width="550">
  </body>
  <h4>Mapa del estado:</h4>
<h4><img src="http://www.yucatan.gob.mx/docs/saladeprensa/3175_1_358.jpg" alt="" width="590" height="397" /></h4>
<h4>El sem&aacute;foro estatal est&aacute; en&nbsp;<span style="color: #ff9900;">NARANJA</span></h4>
<h4><span style="color: #000000;">Basado en la informaci&oacute;n previa, &iquest;Deber&iacute;as de salir de tu casa?</span></h4>
<h4><span style="color: #000000;">-No.</span></h4>
</html>
